<%= simple_nested_form_for @user do |f| %>
	<%= f.error_notification %>
		<%= f.fields_for :addresses do |builder| %>
			<%= render 'addresses/address', f: builder %>
		<% end %>
		<p><%= f.link_to_add "Add an address", :addresses %>
		<%= f.button :submit %></p>
		<%= link_to "Back", :back %>
<% end %>