<%= simple_nested_form_for @user do |f| %>
	<%= f.error_notification %>
		<%= f.fields_for :locatables do |builder| %>
			<fieldset>
    		<%= builder.input :kind %>
    		<% if builder.object.address %>
    			<%= builder.fields_for :address do |a| %>
					<%= a.input :street, :required=> true %>
					<%= a.input :city, :required=> true %>
					<%= a.input :state, :required=> true %>
					<%= a.input :zip, :required=> true %>
					<%= a.input :country, :required=> true, priority: [ "United States" ] %>
					<%end%>
    		<% else %>
    		<%= builder.fields_for :address, f.object.addresses.build do |a| %>
				<%= a.input :street, :required=> true %>
				<%= a.input :city, :required=> true %>
				<%= a.input :state, :required=> true %>
				<%= a.input :zip, :required=> true %>
				<%= a.input :country, :required=> true, priority: [ "United States" ] %>
			<% end %>
			<% end %>
			<%= builder.link_to_remove "Remove an address" %>
</fieldset>
		<% end %>
		<p><%= f.link_to_add "Add an address", :locatables %>
		<%= f.button :submit %></p>
		<%= link_to "Back", root_path %>
<% end %>