<%= simple_form_for(@company_profile) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
  	<%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :photo, label: "Upload a photo" %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
