<p>
  <strong>Name:</strong>
  <%= @company_profile.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company_profile.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @company_profile.photo(:medium) %>
</p>

<%= link_to 'Edit', edit_company_profile_path(@company_profile) %> |
<%= link_to 'Back', company_profiles_path %>
