<%= simple_form_for(@address) do |f| %>
  <%= f.error_notification %>

  <% if admin_signed_in? %>
    <%= f.hidden_field :owner_type, value: "Admin" %>
    <%= f.hidden_field :owner_id, value: current_admin.id %>
  <% elsif company_user_signed_in? %>
    <%= f.hidden_field :owner_type, value: "Company User" %>
    <%= f.hidden_field :owner_id, value: current_company_user.id %>
  <% else %>
    <%= f.input :kind, :collection => [ "Primary", "Secondary", "Other" ], :prompt => "Pickup Address" %>
    <%= f.hidden_field :owner_type, value: "User" %>
    <%= f.hidden_field :owner_id, value: current_user.id %>
  <% end %>
  
  <div class="inputs">
    <%= f.input :street %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :country %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
