<%= simple_form_for(@vehicle) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :make %>
    <%= f.input :v_type, label: "Type" %>
    <%= f.input :year %>
    <%= f.input :color %>
    <%= f.hidden_field :company_id, value: current_company_user.company_id %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
