<h1>Listing Vehicles</h1>

<table>
  <thead>
    <tr>
      <% if admin_signed_in? || user_signed_in? %>
      <th>Company</th>
      <% end %>
      <th>Make</th>
      <th>Type</th>
      <th>Year</th>
      <th>Color</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <% if admin_signed_in? || user_signed_in? %>
        <td><%= vehicle.company_profile.name %></td>
        <% end %>
        <td><%= vehicle.make %></td>
        <td><%= vehicle.kind %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.color %></td>
        <td><%= image_tag vehicle.image(:thumb) %></td>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'New Vehicle', new_vehicle_path %></p>
<%= link_to "Back", :back %>