<%= simple_form_for(@transaction) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.fields_for :locatables do |l| %>
      <%= l.input :address_id, :collection => Address.all, :label_method => :kind, :value_method => :id, :label => "Pickup", :include_blank => false %>
      <%= l.hidden_field :pickup, value: 'true' %>
    <% end %>
    <%= f.fields_for :locatables do |l| %>
      <%= l.input :address_id, :collection => Address.all, :label_method => :kind, :value_method => :id, :label => "Dropoff", :include_blank => false %>
      <%= l.hidden_field :pickup, value: 'false' %>
    <% end %>
    <%= f.input :pickup_date %>
    <%= f.input :pickup_time %>
    <%= f.input :dropoff_date %>
    <%= f.input :dropoff_time %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
