<p id="notice"><%= notice %></p>

<p>
  <strong>Pickup Address:</strong>
  <%= @transaction.PickupAddress %>
</p>

<p>
  <strong>Dropoff Address:</strong>
  <%= @transaction.DropoffAddress %>
</p>

<p>
  <strong>Pickup Date:</strong>
  <%= @transaction.PickupDate %>
</p>

<p>
  <strong>Pickup Time:</strong>
  <%= @transaction.PickupTime %>
</p>

<p>
  <strong>Dropoff Date:</strong>
  <%= @transaction.DropoffDate %>
</p>

<p>
  <strong>Dropoff Time:</strong>
  <%= @transaction.DropoffTime %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
