<h1>Listing Company Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Company</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @company_users.each do |company_user| %>
      <tr>
        <td><%= company_user.name %></td>
        <td><%= company_user.email %></td>
        <td><%= company_user.company_profile.name %></td>
        <!-- <td><%= link_to 'Show', company_user %></td> -->
        <td><%= link_to 'Edit', edit_company_user_path(company_user) %></td>
        <td><%= link_to 'Destroy', company_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'New Company User', new_company_user_path %></p>
<%= link_to "Back", :back %>